<input type='text' value='{{page}}' id='page' hidden />
<input type='text' value='{{data}}' id='data' hidden />

<div
    class='fixed flex w-full justify-between  font-bold mt-24 transition transition-all ease-in-out'
  >
    <div>
      <a
        class='transform rotate-180 bg-blue-100 text-3xl px-5 mx-5 py-3 opacity-50 hover:opacity-100 rounded-full text-black'
        href='/favorite'
        id='prev'
      > ⮜</a>
    </div>
    <div>
      <a
        class='bg-blue-100 text-3xl px-5 py-3 opacity-50 hover:opacity-100 rounded-full text-black mr-6'
        href='/favorite'
        id='next'
      > ⮞</a>
    </div>
  </div>
</div>
{{! Meal Cards }}
<div class="text-3xl pt-24 text-center">
    Favorites
</div>

<div
  class='grid grid-cols-3  content-between justify-items-center mx-5'
>



  {{#each data as |meal|}}
    <div class='bg-gray-600 max-w-md p-4 text-left rounded-md m-5'>

      <div class='text-2xl mb-10'>
        <span class='text-gray-400 font-bold'>{{meal.Cuisine}}</span><br />
        {{meal.TranslatedRecipeName}}
      </div>
      <div class='text-lg flex flex-col justify-center'>
        <img class='rounded-xl h-auto' src='{{meal.image-url}}' alt='' />

        <h3 class='my-4 text-center'>
          Ingredients:
          {{meal.Ingredient-count}}
          Total Time:
          {{meal.TotalTimeInMins}}
        </h3>
        <a
          href='/id/{{meal._id}}'
          class='font-bold bg-gray-500 px-4 py-1 rounded text-center'
        >Open</a>

      </div>
    </div>
  {{/each}}

</div>

<script src='/js/favorite.js'></script>
